.DefaultTheme {
    --key-pointer-background-color: #1A9FFF19;
}

.SteamGreen {
    --key-pointer-background-color: #c4b55019;
}

.Digital {
    --key-pointer-background-color: #19E01519;
}

.NightShift {
    --key-pointer-background-color: #f1329219;
}

.Candy {
    --key-pointer-background-color: #8b929a19;
}

.DEX {
    --key-pointer-background-color: #a59f9319;
}

