:root {
--btn-transparent-0-0: #000000B2;
--btn-transparent-0-1: #FFFFFFB2;
--btn-transparent-0-2: #1A9FFFB2;
--btn-transparent-0-3: #0E141BB2;
--btn-transparent-0-4: #3D4450B2;
--btn-transparent-1-0: #3e4637B2;
--btn-transparent-1-1: #c4b550B2;
--btn-transparent-1-2: #c4b550B2;
--btn-transparent-1-3: #0e141bB2;
--btn-transparent-1-4: #3e4637B2;
--btn-transparent-2-0: #102717B2;
--btn-transparent-2-1: #19E015B2;
--btn-transparent-2-2: #19E015B2;
--btn-transparent-2-3: #010F02B2;
--btn-transparent-2-4: #102717B2;
--btn-transparent-3-0: #102227B2;
--btn-transparent-3-1: #15D4E0B2;
--btn-transparent-3-2: #15D4E0B2;
--btn-transparent-3-3: #ffffffB2;
--btn-transparent-3-4: #18acb6B2;
--btn-transparent-4-0: #ffffffB2;
--btn-transparent-4-1: #3D4450B2;
--btn-transparent-4-2: #3D4450B2;
--btn-transparent-4-3: #3D4450B2;
--btn-transparent-4-4: #3D4450B2;
--btn-transparent-5-0: linear-gradient(55deg, #304348B2, #2b3639B2);
--btn-transparent-5-1: #d5cebfB2;
--btn-transparent-5-2: #843978B2;
--btn-transparent-5-3: #ffffffB2;
--btn-transparent-5-4: #4e4d48B2;
}

.DefaultTheme {
    --key-background-color: var(--btn-transparent-0-3);
    --key-focused-background-color: var(--btn-transparent-0-1);
    --key-meta-background-color: var(--btn-transparent-0-0);
    --key-tab-background-color: var(--btn-transparent-0-0);
    --key-caps-background-color: var(--btn-transparent-0-0);
    --key-shift-background-color: var(--btn-transparent-0-0);
    --key-enter-background-color: var(--btn-transparent-0-0);
    --key-backspace-background-color: var(--btn-transparent-0-0);
    --key-spacebar-background-color: var(--btn-transparent-0-3);
    --key-spacer-background-color: var(--btn-transparent-0-0);
    --key-extendedkey-background-color: var(--btn-transparent-0-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-0-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-0-1);
    --key-toggleon-background-color: var(--btn-transparent-0-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-0-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-0-4);
    --key-touched-background-color: var(--btn-transparent-0-1);
    --key-deadkey-background-color: var(--btn-transparent-0-0);
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-0-2);
}
.SteamGreen {
    --key-background-color: var(--btn-transparent-1-3);
    --key-focused-background-color: var(--btn-transparent-1-1);
    --key-meta-background-color: var(--btn-transparent-1-0);
    --key-tab-background-color: var(--btn-transparent-1-0);
    --key-caps-background-color: var(--btn-transparent-1-0);
    --key-shift-background-color: var(--btn-transparent-1-0);
    --key-enter-background-color: var(--btn-transparent-1-0);
    --key-backspace-background-color: var(--btn-transparent-1-0);
    --key-spacebar-background-color: var(--btn-transparent-1-3);
    --key-spacer-background-color: var(--btn-transparent-1-0);
    --key-extendedkey-background-color: var(--btn-transparent-1-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-1-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-1-1);
    --key-toggleon-background-color: var(--btn-transparent-1-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-1-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-1-4);
    --key-touched-background-color: var(--btn-transparent-1-1);
    --key-deadkey-background-color: var(--btn-transparent-1-0);
}

.SteamGreen .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-1-2);
}
.Digital {
    --key-background-color: var(--btn-transparent-2-3);
    --key-focused-background-color: var(--btn-transparent-2-1);
    --key-meta-background-color: var(--btn-transparent-2-0);
    --key-tab-background-color: var(--btn-transparent-2-0);
    --key-caps-background-color: var(--btn-transparent-2-0);
    --key-shift-background-color: var(--btn-transparent-2-0);
    --key-enter-background-color: var(--btn-transparent-2-0);
    --key-backspace-background-color: var(--btn-transparent-2-0);
    --key-spacebar-background-color: var(--btn-transparent-2-3);
    --key-spacer-background-color: var(--btn-transparent-2-0);
    --key-extendedkey-background-color: var(--btn-transparent-2-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-2-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-2-1);
    --key-toggleon-background-color: var(--btn-transparent-2-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-2-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-2-4);
    --key-touched-background-color: var(--btn-transparent-2-1);
    --key-deadkey-background-color: var(--btn-transparent-2-0);
}

.Digital .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-2-2);
}
.NightShift {
    --key-background-color: var(--btn-transparent-3-3);
    --key-focused-background-color: var(--btn-transparent-3-1);
    --key-meta-background-color: var(--btn-transparent-3-0);
    --key-tab-background-color: var(--btn-transparent-3-0);
    --key-caps-background-color: var(--btn-transparent-3-0);
    --key-shift-background-color: var(--btn-transparent-3-0);
    --key-enter-background-color: var(--btn-transparent-3-0);
    --key-backspace-background-color: var(--btn-transparent-3-0);
    --key-spacebar-background-color: var(--btn-transparent-3-3);
    --key-spacer-background-color: var(--btn-transparent-3-0);
    --key-extendedkey-background-color: var(--btn-transparent-3-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-3-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-3-1);
    --key-toggleon-background-color: var(--btn-transparent-3-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-3-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-3-4);
    --key-touched-background-color: var(--btn-transparent-3-1);
    --key-deadkey-background-color: var(--btn-transparent-3-0);
}

.NightShift .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-3-2);
}
.Candy {
    --key-background-color: var(--btn-transparent-4-3);
    --key-focused-background-color: var(--btn-transparent-4-1);
    --key-meta-background-color: var(--btn-transparent-4-0);
    --key-tab-background-color: var(--btn-transparent-4-0);
    --key-caps-background-color: var(--btn-transparent-4-0);
    --key-shift-background-color: var(--btn-transparent-4-0);
    --key-enter-background-color: var(--btn-transparent-4-0);
    --key-backspace-background-color: var(--btn-transparent-4-0);
    --key-spacebar-background-color: var(--btn-transparent-4-3);
    --key-spacer-background-color: var(--btn-transparent-4-0);
    --key-extendedkey-background-color: var(--btn-transparent-4-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-4-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-4-1);
    --key-toggleon-background-color: var(--btn-transparent-4-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-4-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-4-4);
    --key-touched-background-color: var(--btn-transparent-4-1);
    --key-deadkey-background-color: var(--btn-transparent-4-0);
}

.Candy .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-4-2);
}
.DEX {
    --key-background-color: var(--btn-transparent-5-3);
    --key-focused-background-color: var(--btn-transparent-5-1);
    --key-meta-background-color: var(--btn-transparent-5-0);
    --key-tab-background-color: var(--btn-transparent-5-0);
    --key-caps-background-color: var(--btn-transparent-5-0);
    --key-shift-background-color: var(--btn-transparent-5-0);
    --key-enter-background-color: var(--btn-transparent-5-0);
    --key-backspace-background-color: var(--btn-transparent-5-0);
    --key-spacebar-background-color: var(--btn-transparent-5-3);
    --key-spacer-background-color: var(--btn-transparent-5-0);
    --key-extendedkey-background-color: var(--btn-transparent-5-2);
    --key-extendedkey-focused-background-color: var(--btn-transparent-5-1);
    --key-extendedkey-hover-background-color: var(--btn-transparent-5-1);
    --key-toggleon-background-color: var(--btn-transparent-5-2);
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: var(--btn-transparent-5-4);
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    --key-emoji-focused-background-color: var(--btn-transparent-5-4);
    --key-touched-background-color: var(--btn-transparent-5-1);
    --key-deadkey-background-color: var(--btn-transparent-5-0);
}

.DEX .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--btn-transparent-5-2);
}
