.virtualkeyboard_VirtualKeyboardContainer_33MO2, .virtualkeyboardcontainer_VirtualKeyboardContainer_Oel3O {
    position: absolute;
    background-color: transparent;
    width: 100%;
    bottom: 0;
}