.DefaultTheme {
    --background-color: #23262E0;
}

.SteamGreen {
    --background-color: #3E46370;
}

.Digital {
    --background-color: #010F020;
}

.NightShift {
    --background-color: linear-gradient(43deg, #0206090 0%, #0a37450 46%, #0315190 100%);
}

.Candy {
    --background-color: linear-gradient(45deg, #ffffff0 0%, #cacaca0 100%);
}

.DEX {
    --background-color: linear-gradient(55deg, #3043480, #2b36390);
}

