.DefaultTheme {
    --background-color: #23262E7F;
}

.SteamGreen {
    --background-color: #3E46377F;
}

.Digital {
    --background-color: #010F027F;
}

.NightShift {
    --background-color: linear-gradient(43deg, #0206097F 0%, #0a37457F 46%, #0315197F 100%);
}

.Candy {
    --background-color: linear-gradient(45deg, #ffffff7F 0%, #cacaca7F 100%);
}

.DEX {
    --background-color: linear-gradient(55deg, #3043487F, #2b36397F);
}

