.virtualkeyboard_VirtualKeyboardContainer_33MO2 {
    position: absolute;
    background-color: transparent;
    width: 100%;
    bottom: 0;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #000911FF;
}

/* :root {
    --virtualmenutouchkey-accent: #1a9fff;
    --virtualmenutouchkey-bg: #1f1f1f;
    --virtualmenutouchkey-bg-hover: #103753;
    --virtualmenutouchkey-fg: #ffffff;
    --virtualmenutouchkey-icon-width: 100%;
    --virtualmenutouchkey-icon-height: 100%;
    --virtualmenupointer-x: 0%;
    --virtualmenupointer-y: 0%;
    --virtualmenupointer-color: transparent;
    --virtualmenutouchkey-midpoint-x: 0%;
    --virtualmenutouchkey-midpoint-y: 0%;
    --virtualmenutouchkey-description-width: 0px;
    --touchkeyglyph-bg: #1f1f1f;
    --touchkeyglyph-fg: #ffffff;
} */

.DefaultTheme {
    --background-color: #222222B0;
    /* --key-action-button-glyph-color: #FFFF00;
    --key-focused-action-button-left-color: #FFFF00;
    --key-focused-action-button-right-color: #FFFF00; */
    --key-color: #EEDDFFDD;
    --key-background-color: #000911CC;
    --key-shift-label-color: #DDCCEEDD;
    /* --key-focused-shift-label-color: #FF00FF; */
    --key-focused-color: #FFFFFFDD;
    --key-focused-background-color: #334466CC;
    --key-meta-color: #EEDDFFDD;
    --key-meta-background-color: #001122CC;
    --key-tab-color: #EEDDFFDD;
    --key-tab-background-color: #000911CC;
    --key-caps-color: #EEDDFFDD;
    --key-caps-background-color: #000911CC;
    --key-shift-color: #EEDDFFDD;
    --key-shift-background-color: #000911CC;
    --key-enter-color: #EEDDFFDD;
    --key-enter-background-color: #000911CC;
    /* --key-enter-action-button-glyph-color: #FF00FF; */
    --key-backspace-color: #EEDDFFDD;
    --key-backspace-background-color: #000911CC;
    --key-spacebar-color: #EEDDFFDD;
    --key-spacebar-background-color: #000911CC;
    --key-spacer-background-color: transparent;
    --key-extendedkey-background-color: #000911EE;
    --key-extendedkey-color: #EEDDFFDD;
    --key-extendedkey-focused-background-color: #222222FF;
    --key-extendedkey-focused-color: #FFFFFFDD;
    /* --key-extendedkey-hover-background-color: #FF00FF; */
    /* --key-extendedkey-hover-color: #FF00FF; */
    /* --key-toggleon-background-color: #FF00FF; */
    /* --key-toggleon-color: #FF00FF; */
    /* --key-toggleoneshot-color: #FF00FF; */
    --key-emoji-category-background-color: transparent;
    --key-emoji-category-highlight-background-color: #333333B0;
    --key-emoji-row-background-color: transparent;
    --key-emoji-background-color: transparent;
    /* --key-emoji-color: #FF00FF; */
    --key-emoji-focused-color: #FFFFFFDD;
    --key-emoji-focused-background-color: #222222B0;
    /* --key-touched-background-color: #FF00FF; */
    --key-touched-color: #5555FFCC;
    --key-pointer-stroke-color: #EEDDFFFF;
    --key-pointer-background-color: #00000000;
    --key-deadkey-background-color: #000911CC;
    --key-deadkeyinactive-color: #DDCCEEDD;
    --key-deadkeyactive-color: #FFFFFFDD;
}